In [1]:
"""Use this air bnb new york city data set and remove outliers using percentile based on price per night for a given apartment/home.
You can use suitable upper and lower limits on percentile based on your intuition. 
Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it."""
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv("AB_NYC_2019.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [48]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [50]:
min_threshold, max_threshold=df.price.quantile([0.01,0.999])
min_threshold, max_threshold

(30.0, 3000.0)

In [51]:
#If we want to remove outlier
df2 = df[(df.price>min_threshold)&(df.price<max_threshold)]
df2.shape

(48183, 16)

In [52]:
df2.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5935,4341158,"Large, Cozy & Comfortable Apartment",22448247,Leatha,Brooklyn,East Flatbush,40.65337,-73.91229,Entire home/apt,100,3,62,2019-06-24,1.19,1,343
42360,32870748,"Luxury building studio, swimmingpool, pet frie...",246865215,Mia,Brooklyn,Williamsburg,40.72136,-73.95532,Entire home/apt,160,2,1,2019-04-27,0.41,1,350
10514,8065705,Large Room Next to Central Park,42601948,Tyson,Manhattan,Upper West Side,40.80115,-73.96043,Private room,60,1,0,NaN,NaN,1,0
38772,30393443,"West Village/Chelsea 3 bd, unbelieveable locat...",221901576,Richard,Manhattan,West Village,40.73944,-74.00563,Entire home/apt,453,1,16,2019-06-19,3.72,2,113
42191,32749511,Cozy furnished 2 Bedroom (30 day minimum),246290852,Eddie,Brooklyn,Bedford-Stuyvesant,40.69239,-73.94884,Entire home/apt,120,28,0,NaN,NaN,2,264

In [53]:
df2.price.describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64